*{
  box-sizing: border-box;
}
.App{
  
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  /* padding-top: 200px; */
}

.dark-a{
  text-decoration: none;
  color: rgb(42, 42, 42);
}

.light-a{
  text-decoration: none;
  color: white;
}



.lightMode{
  background-image: url("./images/whitebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(42, 42, 42);
  min-height: 100vh;
  width: 100%;
 
  text-align: center;
}

.header {
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
  padding: 40px; 
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
}

.header h1{
  letter-spacing: 2px;
  font-size: 3em;
}
.header *{
  margin:auto 0;

}

.header button{
  padding: 10px;
  border: none;
  background-color: transparent;
}

.header button:hover{
  cursor: pointer;

}

.header .darkbtn{
  color: #fff;
}

.fa-sun{
  color: #fff;
  font-size: 2em;
}



.container{
  width: 100%;
  margin: auto;
}

.Home{
  margin-bottom: 50px;
}

.outlet{
  min-width: 70%;
  max-width: 70%;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.171);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  

}

.signs{
  margin-top: 50px;
  margin-bottom: 100px;

}
.loutlet{
  min-width: 70%;
  max-width: 70%;
  margin: auto;

  padding: 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.171);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  box-shadow: 5px 10px 10px rgba(2, 24, 44, 0.144);
}

.footer{

  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(3, 17, 38, 0.63);
  color: white;
  text-align: center;
  padding: 10px;
}

.viewChange{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.viewChange button{
  padding: 10px 20px;
  border: 0;
  outline: 0;
  background: rgba(0, 0, 0, 0.715);
  color: white;
  transition: all 0.3s;
  border-radius: 50px;
  margin-top: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.387);
}

.viewChange button:hover{
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.viewChange .active {
  background: rgba(255, 255, 255, 0.553);
  color: black;
  cursor: pointer;
}

.viewChange .active:hover {
  background: rgba(255, 255, 255, 0.553);
  color: black;
  cursor: pointer;
}



@media  screen and (min-width: 1000px) {
  .outlet, .loutlet{
    min-width: 30%;
    max-width: 40%;
  }

  .header{
    padding: 40px 100px;
  }
}
  

@media screen and (max-width: 600px) {

  .header{
    width: 100%;
    text-align: center;
    padding: 10px 30px; 
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
  }

  .header h1{
    font-size: 2em;
  }

  .mode{
    position: fixed;
 
    bottom: 50px;
    left: 10px;
    background-color: rgba(255, 166, 0, 0.397);
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.387);
   
  }
}
